<h1>New User</h1>
<form id='new_user'>
  <input placeholder='first name' name='user[first_name]' require=true />
  <input placeholder='last name' name='user[last_name]' require=true/>
  <input placeholder='***-***-****' name='user[phone_number]' />
  <button class='btn btn-primary' type='submit'>Add</button>
</form>

<%=link_to 'Main List', root_path%>